<a href="https://colab.research.google.com/github/metria14/Tugas-DST-MT/blob/main/Tugas%20Day%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TUGAS 3**

Penting :

    Teman-teman dapat mengerjakan soal ini secara berdiskusi, tapi tidak dianjurkan untuk copy paste.
    Saat dikirim, notebook sudah dalam keadaan running.
    kerjakan tugas secara lengkap, karena akan dicek dengan baik
    format pengumpulan tugas cek pada grup telegram data science training

Soal 1

Lengkapilah code untuk menampilkan perulangan berikut sesuai dengan expected result yang diharapkan !

In [18]:
for i in "semangka" :
    print(i)

s
e
m
a
n
g
k
a

Soal 2

    
    lengkapilah codeperulangan untuk menampilkan expected result
    Ketentuan
        setiap ingin menampilkan kelipatan 5 ubah menjadi lima
        setiap kelipatan 7 ubah menjadi tujuh'
        jika bertemu 35 dan 70 ubah menjadi tiga lima dan tujuh puluh
        dan jika bertemu 100 ubah menjadi end

In [19]:
# lengkapi code berikut
i = 0
while i < 100 :
    i +=1
    if i==100 :
        print('End')
        continue
    if i==35 or i==70 :
      print('tiga lima dan tujuh puluh !')
      continue  
    if i %5==0 : 
      print('Lima') 
      continue
    if i %7==0 :
      print('Tujuh')
      continue
    if i %7==0 :
      print('Tujuh')
      continue
    print(i)

1
2
3
4
Lima
6
Tujuh
8
9
Lima
11
12
13
Tujuh
Lima
16
17
18
19
Lima
Tujuh
22
23
24
Lima
26
27
Tujuh
29
Lima
31
32
33
34
tiga lima dan tujuh puluh !
36
37
38
39
Lima
41
Tujuh
43
44
Lima
46
47
48
Tujuh
Lima
51
52
53
54
Lima
Tujuh
57
58
59
Lima
61
62
Tujuh
64
Lima
66
67
68
69
tiga lima dan tujuh puluh !
71
72
73
74
Lima
76
Tujuh
78
79
Lima
81
82
83
Tujuh
Lima
86
87
88
89
Lima
Tujuh
92
93
94
Lima
96
97
Tujuh
99
End

soal 4

    Program Kuota SKS, yaitu program yang dapat menentukan kuota SKS yang diperoleh berdasarkan nilai IPK. 
    Jika IPK besar dari 3.00 kuota SKS 24, 
    jika IPK 2.50 sampai 2.99 kuota SKS 21, 
    jika IPK 2.00 sampai 2.49 kuota SKS 18, 
    jika IPK di bawah 2.00 kuota SKS 15.

In [20]:
# name list
name_list = ["Bernice", "Aaron", "Cody"]


# lengkapi kode 
name_list.sort()
print('Here is the list in alphabetical order :')
for i in name_list :
    print(i)
print()
name_list.sort(reverse=True)
print('Here is the list in reverse alphabetical order :')
for i in name_list :
    print(i)
print()
name_list = ['Bernice', 'Aaron', 'Cody']
print('Here is the list in its original order')
for i in name_list :
    print(i)

Here is the list in alphabetical order :
Aaron
Bernice
Cody

Here is the list in reverse alphabetical order :
Cody
Bernice
Aaron

Here is the list in its original order
Bernice
Aaron
Cody

In [21]:
IPK = float(input())
if IPK >=3 :
    print('Anda dapat mengambil kuota 24 SKS')
elif IPK >=2.50 :
    print('Anda dapat mengambil kuota 21 SKS')
elif IPK >=2 :
    print('Anda dapat mengambil kuota 18 SKS')
else :
    print('Anda dapat mengambil kuota 15 SKS')

4
Anda dapat mengambil kuota 24 SKS

Soal 5

Kerjakan dengan benar soal dictionary berikut.
Dari hasil ouput brand yang ditampilkan adalah ford. tugas anda lakukan perubahan pada brand menjadi "honda" dengan menggunakan fungsi ubah atributnya. tidak mengubah nilai secara langsung pada dictionary awal

In [22]:
thisdict = {
    'brand' : 'ford',
    'model'  : 'mustang',
    'year'   : 1964
}

print(thisdict)
thisdict['brand'] = 'honda'
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}
{'brand': 'honda', 'model': 'mustang', 'year': 1964}